%h1 Crop image
= image_tag @product.image_url(:large), id: "cropbox"
%h4 Preview
%div{:style => "width:100px; height:100px; overflow:hidden"}
  = image_tag @product.image.url(:large), :id => "preview"
= form_for @product do |f|
  - %w[x y w h].each do |attribute|
    = f.hidden_field "crop_#{attribute}"
  .actions
    = f.submit "Crop"
